<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ludmila's blog about sports</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Sport</a></h2>
            <p>Needless to say that sport plays an important role in our life. It gives us much pleasure and many moments of joy. There are a lot of kinds of sports such as swimming, wrestling, cycling, box, football, hockey, track and field athletics. All of them are useful and exciting and help us to keep feet.

</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Football</a></h2>
            <p>As for me, I am a football fan of Italian team “Roma” and my favourite player is Francesco Totti. I remember having been taken to the match between “Roma” and their competitors. The stands were full of spectators. They shouted to cheer the teams and swung the flags… The match started and 10 minutes later I saw a ball, flying from Totti into the goal. I was very happy! I was sure that my favourite team could be only the winner!</p>
        </div>
    </body>
</html>
